HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Android ###
.gradle/
**/build/
!**/src/main/**/build/
!**/src/test/**/build/
local.properties
*.apk
*.aab
*.dex
*.class
*.log
gen/
.navigation/
captures/
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml

### Data files (vocabulary DB, too large for git) ###
data/

### Node / Vue ###
frontend/node_modules/
frontend/dist/
dump.rdb
